<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
 <div>
  <h1>My Goals</h1>
  <ol>
    <div *ngFor = 'let goal of goals; let i = index'>
        <li appStrikethrough>{{goal.name}} due on {{goal.completeDate|date|uppercase}}</li>
        <button (click)='toggleDetails(i)'>Toggle Details</button>
        <app-goal-detail-component *ngIf="goal.showDescription" [goal]='goal'
        (isComplete)='completeGoal($event, i)'></app-goal-detail-component>
    </div>
  </ol>
  <p *ngIf="goals.length>5">Your goals are too many</p>
  
</div> 
</body>
</html>

